<header class="main-header">
    <div class="status-indicator online">
        <i class="fas fa-circle"></i> Online
    </div>
    <div class="header-uptime">
        <i class="fas fa-clock"></i> Uptime: <span id="headerUptime">--</span>
    </div>
</header> 